.container-register {
    background-color: #09090b;
    width: 65%;
    height: 70%;
    border: #25292d 5px solid;
    display: flex;
    flex-direction: column;
}

.align-items-center{
    margin: 10px;
}

.container-register textarea{
    background-color: #09090b;
    border: 3px solid #25292d;
    color: white;
}

.profileImageRegister {
    border: #25292d 5px solid;
    border-radius: 50%;
    background-image: url("https://icons.veryicon.com/png/o/commerce-shopping/dream-icon-library/camera_add.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30% 30%;
    margin: 15px;
    padding: 75% 0 0 75%;

}

