<mat-form-field class="example-chip-list dark-theme">
  <mat-label>Tags</mat-label>
  <mat-chip-grid #chipGrid aria-label="Fruit selection">
    @for (tags of tags; track tags) {
      <mat-chip-row (removed)="remove(tags)">
        {{tags}}
        <button matChipRemove [attr.aria-label]="'remove ' + tags">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    }
  </mat-chip-grid>
  <input placeholder="New Tag..." #tagsInput [formControl]="tagCtrl"
         [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
         (matChipInputTokenEnd)="add($event)"/>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    @for (tags of filteredTags | async; track tags) {
      <mat-option [value]="tags">{{tags}}</mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
