<mat-form-field class="chip-list">
    <mat-chip-grid #chipGrid aria-label="Enter tags">
        @for (tag of tags; track tag) {
            <mat-chip-row
                        (removed)="remove(tag)"
                        [editable]="true"
                        (edited)="edit(tag, $event)">
                <p>{{tag}}</p>
                <button matChipRemove [attr.aria-label]="'remove ' + tag" >
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip-row>
        }
        <input [maxLength]="60" placeholder="Add new tag..."
               style="color: white"
               [matChipInputFor]="chipGrid"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               (matChipInputTokenEnd)="add($event)"

        />
    </mat-chip-grid>
</mat-form-field>

