.container {
    width: calc(100vw - 50px);
    padding: 0;
}

.card{
    margin: 10px;
    text-align: center;
    font-size: 1.5em;
    box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.15);
    border: rgba(37, 41, 45, 0.21) 1px solid;
    color: black;
    background-color: #25292d;
    border-radius: 5px;
}

.search {
    background-color: #25292d;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    width: 90%;
}

.search .search-icon {
    width: 30px;
    padding: 5px;
}

.search .logo{
    width: 50px;
    padding: 5px;
    border-radius: 25%;
}
.search .row {
    display: flex;
}
.container-profileHome{
    height: 70vh;
    overflow-y: hidden;
}

.container-chat{
    height: 85vh;
    overflow-y:auto;
}


input::placeholder {
    color: #C4C4C4;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
.container-filter{
    width: 100%;
}
.filter {
    background-color: black;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    width: 40%;
}

@media screen and (max-width: 1400px) {
    .container-profileHome{
        width: 21%;
    }
    .container-chat{
        width: 22%;
    }
}


@media screen and (max-width: 990px) {
    .filter {
        width: 70%;
    }
    .search{
        width: 100%;
    }
    .container-profileHome{
        width: 25%;
    }
    .container-chat{
        display: none;
    }
}

@media screen and (max-width: 768px) {

    .container-profileHome {
        height: 90%;
    }

    .container-profileHome, .card {
        width: 90vw;
    }
}


/** .col-6{
    height: 95%;
}



.d-flex{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}

.search {
    box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.15);
    border-radius: 10px;
    background-color: #25292d;
    height: 44px;
    left: 421px;
    top: 490px;
    width: 510px;
    display: flex;
    align-items: center;
    text-align: center;
    align-self: center;
    margin: 0 auto;
}

.search img {
    width: 34px;
    padding: 10px;
}

input::placeholder {
    color: #C4C4C4;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.filter {
    background-color: #25292d;
    width: 100%;
    height: 100%;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    border: none;
    outline: 0;
    text-decoration: none;
    padding-left: 15px;
    border-radius: 10px;
    margin: 0;
}

@media screen and (max-width: 576px) {
    .search {
        width: 380px;
    }

    .col {
        height: 90vh;
        width: 30vh;
    }
    .col-6{
        width: 95%;
        height: 100%;
    }
}
@media screen and (min-width: 1200px) {
    .search {
        width: 40%;
    }

    .col {
        height: 90vh;
        width: 100vh;
    }
    .col-6{
        width: 60%;
        height: 90%;
    }
    .container-profileHome{
        height: 75%;
    }
}
 */