<div class="container-login">
<img alt="logoHauntedPlace" height="100px" width="100px" src="assets/logohauntedPlace.jpeg" />
<h1>Haunted Place</h1>
<form action="@{/login}" method="post">
  <label for="username"></label><input type="text" id="username" placeholder="Username or email" name="login" autofocus="autofocus" /> <br/>
  <label for="password"></label><input type="password" id="password" placeholder="Password" name="password" /> <br/>
  <button type="submit" class="btn btn-dark">Log in</button>
</form>
<a routerLink="/register" class="badge badge-dark">Criar Conta</a>
</div>
