* {
    color: white;
}

body {
    background-color: black;
}
.container-login {
    padding: 0;
    width: 500px;
    height: 500px;
    margin: 75px auto;
    border: #25292d 5px solid;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.column{
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.container-register {
    padding: 0;
    width: 700px;
    height: 400px;
    margin: 75px auto;
    border: #25292d 5px solid;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}


.container-register textarea{
    background-color: black;
    border: 3px solid #25292d;
    color: white;
    margin: 5px;
    width: 650px;
    height: 100px;
}

input, textarea {
    background-color: black;
    border: 3px solid #25292d;
    color: white;
    margin: 5px;
}

button {
    margin: 10px;
    background-color: #25292d;
    color: white;
}

.container-register, .container-login img{
    margin: 0 auto;
}

.profileImage {
    border: #1e1e1e 5px solid;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin: 0 auto;
    align-content: start;
}


