.container {
    width: calc(75vw - 50px);
    padding: 0;
}

.justify-content {
    justify-content: center;
}
.card{
    margin: 10px;
    text-align: center;
    font-size: 1.5em;
    box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.15);
    border: rgba(37, 41, 45, 0.21) 1px solid;
    color: #09090b;
    background-color: #25292d;
    border-radius: 5px;
}

.search {
    background-color: #25292d;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    width: 95%;
}

.search .search-icon {
    width: 30px;
    padding: 5px;
}

.search .logo{
    width: 50px;
    padding: 5px;
    border-radius: 25%;
}
.search .row {
    display: flex;
}
.container-profileHome{
    height: 70vh;
    overflow-y: hidden;
}

.container-feed{
    height: 72vh;
}

.container-addThought{
    height: 12vh;
}

input::placeholder {
    color: #C4C4C4;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
.container-filter{
    width: 100%;
}
.filter {
    background-color: #09090b;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    width: 40%;
}

@media screen and (max-width: 768px) {

    .container-profileHome {
        height: 90%;
    }

    .container-profileHome, .card {
        margin: 10px 0 0;
    }


    /*.justify-content {*/
    /*    justify-content: flex-start;*/
    /*}*/
}
