<div class="container">
    <div class="search">
        <a routerLink="/home">
            <img class="logo ins" alt="logoHauntedPlace" src="../../../assets/images/logohauntedPlace.jpeg" />
        </a>
        <div class="container-filter">
            <img class="search-icon" alt="search icon" src="../../../assets/images/search-icone.png" />
            <input type="search" class="filter" placeholder="Search" autofocus>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content">
            <div class="card container-profileHome col-12 col-sm-12 col-md-3 col-lg-3">
                Container Profile
            </div>
            <div class="col-12 col-sm-12 col-md-8 col-lg-8" style="padding: 0;">
                <div class="card container-addThought">
                    Share your thoughts...<br>
                </div>
                <div class="card container-feed">Posts</div>
            </div>
        </div>
    </div>
</div>