/* You can add global styles to this file, and also import other style files */

* {
  color: white;
}

body {
  background-color: #09090b;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;

}
.container-login {
  padding: 0;
  width: 500px;
  height: 500px;
  margin: 25px auto;
  border: #25292d 5px solid;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.column{
  margin: 100px auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.container-register {
  background-color: #09090b;
  width: 700px;
  height: 450px;
  border: #25292d 5px solid;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}


.container-register textarea{
  background-color: #09090b;
  border: 3px solid #25292d;
  color: white;
  margin: 5px;
  width: 650px;
  height: 100px;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.container div {
  margin:  10px;
}

.container div label{
  cursor: pointer;
}

.container div label input[type="checkbox"]{
  display: none;
}

.container div label input[type="checkbox"]:checked ~ span{
  background: #3d4249;
}

.container div label span{
  position: relative;
  display: inline-block;
  background: #1e1e1e;
  padding: 10px 10px;
  color: white;
  border-radius: 10px;
  transition: 0.5s;
  user-select: none;
  overflow: hidden;
  font-size: 12px;
}

.container-profileHome {
  width: 300px;
  height: 800px;
  border: #25292d 5px solid;
  border-radius: 25px 0 0 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  flex-direction: column;
  text-align: center;
}

.profileImage {
  border: #25292d 5px solid;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin: 15px auto;
}

.container-feed {
  width: 800px;
  height: 800px;
  border: #25292d 5px solid;
}

.container-chat {
  width: 300px;
  height: 800px;
  border: #25292d 5px solid;
  border-radius: 0 25px 25px 0;
}

.title-home{
  display: inline-block;
}

input, textarea {
  resize: none;
  background-color: #09090b;
  border: 3px solid #25292d;
  border-radius: 15px;
  color: white;
  margin: 5px;
  padding: 5px;
  width: 350px;
}

::-ms-reveal {
  filter: invert(100%);
}

button {
  margin: 10px;
  background-color: #25292d;
  color: white;
}

.container-register, .container-login img{
  margin: 0 auto;
}

.profileImageRegister {
  border: #25292d 5px solid;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  margin: 5px 10px;
  background-image: url("https://icons.veryicon.com/png/o/commerce-shopping/dream-icon-library/camera_add.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #1e1e1e;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background:#1e1e1e;
  border-radius: 5px;
}

a{
  text-decoration: none;
  color: #1e1e1e;
}

a:hover {
  color: #25292d;
}

input[type="file"] {
  padding: 140px 0 0 0;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
