/* You can add global styles to this file, and also import other style files */

h1, p{
  color: white;
}

label{
  color: white;
}

body {
  background-color: #09090b;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}



.container div label span{
  position: relative;
  display: inline-block;
  background: #1e1e1e;
  padding: 10px 10px;
  color: white;
  border-radius: 10px;
  transition: 0.5s;
  user-select: none;
  overflow: hidden;
  font-size: 12px;
}



.profileImage {
  border: #25292d 5px solid;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin: 15px auto;
}



.title-home{
  display: inline-block;
}

input, textarea {
  resize: none;
  background-color: #09090b;
  border: 3px solid #25292d;
  border-radius: 15px;
  color: white;
  margin: 5px;
  padding: 5px;
  width: 90%;
}

::-ms-reveal {
  filter: invert(100%);
}

button {
  margin: 10px;
  background-color: #25292d;
  color: white;
}

.container-register, .container-login img{
  margin: 0 auto;
}


::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #1e1e1e;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background:#1e1e1e;
  border-radius: 5px;
}

a{
  text-decoration: none;
  color: #1e1e1e;
}

a:hover {
  color: #25292d;
}


body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
